@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #1B34FF;
  --color-secondary: #252E74;
  --color-accent: #A5AFFF;
  --color-black: #000000;
  --color-background: #F4F5FF;
}

:root {
  --font-body: 'Montserrat', sans-serif;
  --font-body-size: 16px;
  --heading-font-weight: 600;
  --line-height-body: 1.6;
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-pill: 9999px;
}

.btn-primary {
  border: none;
  box-shadow: none;
  font-family: var(--font-body);
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: var(--radius-pill);
}

.btn-secondary {
  border: none;
  box-shadow: none;
  font-family: var(--font-alt);
  background-color: var(--color-secondary);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: var(--color-secondary);
  color: #ffffff;
}

